*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

.register-container{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#020617,#0f172a,#1e293b);

}

.register-card{

width:420px;

padding:40px;

border-radius:20px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(15px);

box-shadow:0 10px 30px rgba(0,0,0,.35);

text-align:center;

color:white;

}

.register-card h1{

font-size:38px;

margin-bottom:10px;

}

.register-card p{

margin-bottom:30px;

color:#d1d5db;

}

.register-card form{

display:flex;

flex-direction:column;

gap:18px;

}

.register-card input{

padding:15px;

border:none;

outline:none;

border-radius:10px;

font-size:16px;

}

.register-card button{

padding:15px;

border:none;

border-radius:10px;

background:#2563eb;

color:white;

font-size:17px;

font-weight:bold;

cursor:pointer;

transition:.3s;

}

.register-card button:hover{

background:#1d4ed8;

}

.register-card span{

display:block;

margin-top:20px;

}

.register-card a{

text-decoration:none;

color:#60a5fa;

font-weight:bold;

}